<div class="container-fluid">
    <div class="row drinksmenu">
        <div class="col-xs-2"></div>

        <div class="col-xs-6">
            <div class="row">
                <img src="ClientApp/images/acuCafeLogo.png"/>
                <h1> Welcome to the AcuCafe </h1>
                <h3> Because Smurf-Naming is fun!</h3>
            </div>

            <div class="row">
            <div class="col-xs-5">
            <h1> Drinks </h1>
            <p ng-show="loadingDrinks"> Just fetching today's menu! </p>
            <img src="ClientApp/images/spinner.gif" ng-show="loadingDrinks"/>
            <table class="table" ng-show="!loadingDrinks">
                <thead>
                    <th> Drink </th>
                    <th> Price </th>
                    <th> Order! </th>
                </thead>
                <tbody ng-repeat="drink in drinks">
                    <td class="col-sm-3"> {{drink.description}} </td>
                    <td class="col-sm-3"> {{drink.price}} </td>
                    <td class="col-sm-2"> <button type="button" class="btn btn-primary btn-sm" ng-click="addDrink(drink.id)" data-toggle="modal" data-target="#myModal"> +  </button> </td>
                </tbody>
            </table>
            </div></div>


            <!-- Pop-up -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Milk and sugar with that? </h4>
                  </div>
                  <div class="modal-body">
                   <table class="table" ng-show="!loadingOptions">
                            <thead>
                                <th> Option </th>
                                <th> Price </th>
                                <th> Add! </th>
                            </thead>
                            <tbody ng-repeat="option in options">
                                <td class="col-sm-3"> {{option.description}} </td>
                                <td class="col-sm-3"> {{option.price}} </td>
                                <td class="col-sm-3"> <input
                                                           type="checkbox"
                                                           name="selectedOptions[]"
                                                           value= "{{option.id}}"
                                                           ng-checked="selection.indexOf(option.id) > -1"
                                                           ng-click="toggleSelection(option.id)"> </td>
                            </tbody>
                        </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="orderDrink()"> Order</button>
                  </div>
                </div>
              </div>
            </div>

            </div>


            </div>

            </div>
        </div>
    </div>
</div>
