<div class="container-fluid">
    <div class="row drinksmenu">
        <div class="col-xs-3"></div>
        <div  class="col-xs-6 text-center">
            <div id = "titleRow" class="row">
                <div class="col-xs-12">
                <h1> Welcome to the AcuCafe </h1>
                <h3> Because Smurf-Naming is fun!</h3>
                    </div>
            </div>

            <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-4 menu">
            <h2> Drinks Menu </h2>
            <p ng-show="loadingDrinks"> Just fetching today's menu! </p>
            <img src="ClientApp/images/spinner.gif" ng-show="loadingDrinks"/>
            <table class="table" ng-show="!loadingDrinks">
                <thead>
                    <th> Drink </th>
                    <th> Price </th>
                    <th> Order! </th>
                </thead>
                <tbody ng-repeat="drink in drinks">
                    <td class="col-sm-3"> {{drink.description}} </td>
                    <td class="col-sm-3"> {{drink.price}} </td>
                    <td class="col-sm-2"> <button type="button" class="btn btn-default btn-sm" ng-click="addDrink(drink.id, drink.description, drink.price)" data-toggle="modal" data-target="#myModal"> +  </button> </td>
                </tbody>
            </table>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-4 menu">
                <h2> Your Orders: </h2>
                <h5 ng-show="basketEmpty"> You've got no orders pending, get something to drink! </h5>
                <div class="orderItem" ng-repeat="order in allOrders">
                    <h3> {{ order.drink }} </h3>
                <div class="optionItem" ng-repeat="option in order.options">
                    <h6> {{ option }} </h6>
                    </div>
                </div>
                <div ng-show="!basketEmpty" id="total">
                    <h4 > Total: £{{ total }}  </h4>
                </div>
            </div>
            </div>


            <!-- Pop-up -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="exit()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Milk and sugar with that? </h4>
                  </div>
                  <div class="modal-body">
                   <table class="table" ng-show="!loadingOptions">
                            <thead>
                                <th> Option </th>
                                <th> Price </th>
                                <th> Add! </th>
                            </thead>
                            <tbody ng-repeat="option in options">
                                <td class="col-sm-3"> {{option.description}} </td>
                                <td class="col-sm-3"> {{option.price}} </td>
                                <td class="col-sm-3"> <input
                                                           type="checkbox"
                                                           class="checkBoxes"
                                                           name="selectedOptions[]"
                                                           value= "{{option.id}}"
                                                           ng-model="option.Selected"
                                                           ng-checked="optionSelection.indexOf(option.id) > -1"
                                                           ng-click="optionSelection(option.id,option.description, option.price)"> </td>

                            </tbody>
                        </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="orderDrink()"> Order</button>
                  </div>
                </div>
              </div>
            </div>

            </div>


            </div>

            </div>
        </div>
    </div>
</div>
