.navbar-inverse  {
    margin-bottom: 0;
}

.drinksmenu {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif ;
    color: black;
    padding-top: 150px;
    height: 1000px;
}


#titleRow {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;

}

.menu {
    color: black;
    margin-top: 50px;
    background:rgba(195,195,205,0.5);
    border-radius: 5%;
    border-right: 30px;
}


.table {
    margin-top: 20px;
}

#total {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
}